* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dataRow {
    height: 170px;
    display: flex;
    align-items: center;
}

.ecgBox {
    height: 160px;
}

.Avator-settings .Avatar {
    /* width: 80px;
    height: 80px; */
}